<div class="container">
  <aside class="sidebar">
    <div class="logo">
      <img src="./logo.svg" alt="">
    </div>
    <nav class="menu">
      <ul>
        <li> <a routerLink="/dashboard"> <i class="fa fa-house"></i>&nbsp;&nbsp; Dashboard</a></li>
        <li ><a routerLink="/event_manage"><i class="fa fa-calendar-days"></i>&nbsp;&nbsp;Event Management</a></li>
        <li class="active"><a><i class="fa fa-user"></i>&nbsp;&nbsp; User Management</a></li>
        <li><a routerLink="/admin"> <i class="fa fa-plus">&nbsp;&nbsp;</i>Add Admin</a></li>
        <li><a routerLink="/report"> <i class="fa fa-repeat"></i> &nbsp;&nbsp; Switch Account</a></li>
        <li><a> <i class="fa fa-gear"></i>&nbsp;&nbsp; Settings</a></li>
        <li><a><i class="fa fa-arrow-right-from-bracket"></i>&nbsp;&nbsp; Log out</a></li>
      </ul>
    </nav>
    <app-calendar></app-calendar>
  </aside>

  <main class="main-content">
    <header class="header">
      <div class="search">
        <i class="fa fa-magnifying-glass search-icon"></i>
        <input type="text" placeholder="Search">
      </div>
      <div class="icons">
        <button style="border: none; background: none;">
          <img src="./Messages.png" alt="Messages" class="icon-image" />
        </button>
        <button style="border: none; background: none;">
          <img src="./Notifications.png" alt="Notifications" class="icon-image" />
        </button>
        <div class="user">
          <img src="./user.png" alt="User">
        </div>
      </div>
    </header>

    <div class="content">
      <h2 class="event-title" style="color: #4D22AE; font-weight: 400; font-size: 40px;">User List</h2>
      <div class="tab-container">
        <button class="tab-button" (click)="selectTab('member')" [class.active]="selectedTab === 'member'">
          <span class="active-icon">✔</span> Member
        </button>
        <button class="tab-button" (click)="selectTab('verifier')" [class.active]="selectedTab === 'verifier'">
          <span class="active-icon">✔</span> Ticket Verifier
        </button>
      </div>

      <section class="event-list" *ngIf="selectedTab === 'member'">
        <table>
          <thead>
            <tr>
              <th>Cust. ID</th>
              <th>User Name</th>
              <th>Location</th>
              <th>Pin Level</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of memberData">
              <td>#{{ member.id }}</td>
              <td>{{ member.memberName }}</td>
              <td>{{ member.memberCity }}</td>
              <td>{{ member.memberPinLevel }}</td>

                <td>
                  <div class="toggle-switch">
                    <input type="checkbox" id="toggle" [(ngModel)]="isToggled" (change)="onToggleChange()" />
                    <label for="toggle" class="switch"></label>
                  </div>
                </td>
              <!-- <td>{{ isToggled ? 'ON' : 'OFF' }}</td> -->
              <td><button class="btn details-btn" (click)="viewDetails(member.id)" >User Details</button></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="event-list" *ngIf="selectedTab === 'verifier'">
        <table>
          <thead>
            <tr>
              <th>Cust. ID</th>
              <th>User Name</th>
              <th>Location</th>
              <th>Pin Level</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let verifier of verifierData">
              <td>#{{  verifier.verifierId }}</td>
              <td>{{  verifier.verifierName }}</td>
              <td>{{  verifier.verifierLocation }}</td>
              <td>{{  verifier.verifierPinLevel }}</td>
              <td>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle" [(ngModel)]="isToggled" (change)="onToggleChange()" />
                  <label for="toggle" class="switch"></label>
                </div>

              </td>
              <td><button class="btn details-btn" (click)="viewVerfierDetails(verifier.id)" >Verifier Details</button></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </main>

</div>




<!-- <div class="toggle-switch">
  <input type="checkbox" id="toggle" [(ngModel)]="isToggled" (change)="onToggleChange()" />
  <label for="toggle" class="switch"></label>
</div>

<p>Toggle is {{ isToggled ? 'ON' : 'OFF' }}</p> -->
