<div class="container">
  <aside class="sidebar">
    <div class="logo">
      <img src="./logo.svg" alt="">
    </div>
    <nav class="menu">
      <ul>
        <li> <a routerLink="/dashboard"> <i class="fa fa-house"></i>&nbsp;&nbsp;
            Dashboard</a></li>
        <li class="active"><a><i class="fa fa-calendar-days"></i>&nbsp;&nbsp; Event Management</a></li>
        <li><a><i class="fa fa-user"></i>&nbsp;&nbsp; User Management</a></li>

        <li><a> <i class="fa fa-plus">&nbsp;&nbsp;</i>Add Admin</a></li>
        <li><a> <i class="fa fa-repeat"></i> &nbsp;&nbsp; Switch Account</a></li>
        <li><a> <i class="fa fa-gear"></i>&nbsp;&nbsp; Settings</a></li>
        <li><a><i class="fa fa-arrow-right-from-bracket"></i>&nbsp;&nbsp; Log out</a></li>
      </ul>
    </nav>
<app-calendar></app-calendar>
  </aside>

  <main class="main-content">
    <header class="header">
      <div class="search">
        <i class="fa fa-magnifying-glass search-icon"></i>
        <input type="text" placeholder="Search">
      </div>

      <div class="icons">
        <button style="border: none; background: none;">
          <img src="./Messages.png" alt="Messages" class="icon-image" />
        </button>
        <button style="border: none; background: none;">
          <img src="./Notifications.png" alt="Notifications" class="icon-image" />
        </button>
        <div class="user">
          <img src="./user.png" alt="User">
        </div>
      </div>
    </header>


    <div class="content">
      <h2 class="event-title" style="color: #4D22AE; font-weight: 400; font-size: 40px;">Event Details</h2>
      <app-details></app-details>

    </div>

  </main>
</div>
