<!-- <div class="sidebar">
  <div class="logo">
    <h1>Infinite Success Events</h1>
  </div>
  <nav>
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Event Management</a></li>
      <li><a href="#">User Management</a></li>
      <li><a href="#">Add Admin</a></li>
      <li><a href="#">Switch Account</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </nav>
</div> -->





<div style="display: flex; align-items: center; justify-content: space-between; padding: 16px; background-color: #f9f9f9;">
  <div style="display: flex; align-items: center;">
   <img src="../logo.svg" alt="">
  </div>
  <div style="text-align: right;">
    <h2 style="font-size: 18px; margin: 0;">Good Morning, Vijay</h2>
    <p style="font-size: 12px; color: #888; margin: 0;">Have a nice day!</p>
  </div>
  <div style="display: flex; align-items: center;">
    
    <input type="text" placeholder="Search" style="padding: 8px; border: 1px solid #ccc; border-radius: 4px; margin-right: 8px;" />
    <button style="border: none; background: none; margin-right: 8px;">
      <img src="./Messages.png" alt="Messages" style="width: 34px; height: 34px;" />
    </button>
    <button style="border: none; background: none; margin-right: 8px;">
      <img src="./Notifications.png" alt="Notifications" style="width: 40px; height: 40px;" />
    </button>
    <img src="./user.png" alt="Profile" style="border-radius: 50%;" />
  </div>
</div>
